<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
  <div class="container">
    <div class="left-section">
      <a class="logo" href="/"
        ><img
          loading="lazy"
          decoding="async"
          src="/assets/images/logo/logo-full-secondary.png"
          alt="logo"
          width="264"
          height="78"
      /></a>
    </div>
    <div class="right-section">
      <div class="lists">
        <ul>
          <li>
            <h2>Navigation</h2>
          </li>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/#about">About Us</a>
          </li>
          <li>
            <a href="/faq">FAQ</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>

        <ul>
          <li>
            <h2>Contact</h2>
          </li>
          <li>
            <a href="tel:{{client.phoneForTel}}">
              T: {{client.phoneFormatted}}
            </a>
          </li>
          <li>
            <a href="mailto:{{client.email}}">{{client.email}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="credit">
    <span>Designed and Hand Coded by</span>
    <a href="/" target="_blank" rel="noopener">West Coast Web Designs LLC</a>
    <span class="copyright"> Copyright {% year %} - Present</span>
  </div>
</footer>
