---
title: 'FAQ | West Coast Web Designs'
description: 'Frequesntly asked questions about our services and policies.'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'faq/'
page:
  breadcrumb: FAQ
  title: FAQ
eleventyNavigation:
  key: FAQ
  order: 400
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/faq.css" />
{% endblock %} {% block body %} {% include 'components/banner.html' %}

<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-1263">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Asked questions</span>
      <h2 class="cs-title">Frequently Asked Questions</h2>
    </div>
    <ul class="cs-faq-group">
      <!-- Active class added as default -->
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text"> What do you mean by "unlimited edits"? </span>
        </button>
        <p class="cs-item-p">
          We truly mean "unlimited." We don't limit the number of edits you can ask us to make.
          There is, however, an extra fee for extra pages or feature beyond the "5-Page standard
          website".
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text"> What is your plan cancellation policy? </span>
        </button>
        <p class="cs-item-p">
          When you sign up with us, we expect a 12 month commitment. After the 12 months, you can
          cancel any time. We will transfer the domain to you, but the website will be taken down.
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text"> What if I want to add a page later? </span>
        </button>
        <p class="cs-item-p">
          If you'd like to add a page to your website, we will gladly help out! We charge a $100 one
          time fee for each additional page.
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text"> What does a "5 Page Website" include? </span>
        </button>
        <p class="cs-item-p">
          Typically, a 5 page website includes a home page, about page, services page, contact page
          and an FAQ page. But in reality we can build whatever 5 pages you need.
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text"> What if I have a logo already? </span>
        </button>
        <p class="cs-item-p">
          If you have a logo already, awesome! We can use that on your website. If you'd like us to
          make a new one, we can do that too. It's all included in the package deal.
        </p>
      </li>
    </ul>
  </div>
</section>

<script src="/assets/js/faq.js"></script>

{% include 'components/cta.html' %} {% endblock %}
