---
title: "FAQ | West Coast Web Designs"
description: "FAQ page for West Coast Web Designs"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "faq/"
page:
  breadcrumb: FAQ
  title: Frequently Asked Questions
eleventyNavigation:
  key: FAQ
  order: 400
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/faq.css" />
{% endblock %} {% block body %} {% include 'components/banner.html' %}

<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-1263">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Asked questions</span>
      <h2 class="cs-title">Frequently Asked Questions</h2>
    </div>
    <ul class="cs-faq-group">
      <!-- Active class added as default -->
      <li class="cs-faq-item active">
        <button class="cs-button">
          <span class="cs-button-text">
            What are your prices for brake replacement?
          </span>
        </button>
        <p class="cs-item-p">
          Some cleaning plans require a minimum commitment term. Cancelling your
          plan before the minimum term is complete will result in a $99 fee. If
          you want to learn more information about how to cancel, please inbox
          us.
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text">
            What is your plan cancellation policy?
          </span>
        </button>
        <p class="cs-item-p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis
          nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor
          sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna,
          quam.
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text">
            What are your prices for brake replacement?
          </span>
        </button>
        <p class="cs-item-p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis
          nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor
          sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna,
          quam.
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text">
            What are your prices for brake replacement?
          </span>
        </button>
        <p class="cs-item-p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis
          nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor
          sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna,
          quam.
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text">
            What are your prices for brake replacement?
          </span>
        </button>
        <p class="cs-item-p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis
          nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor
          sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna,
          quam.
        </p>
      </li>
    </ul>
  </div>
</section>

<script src="/assets/js/faq.js"></script>

{% include 'components/cta.html' %} {% endblock %}
