/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes floatAnimation2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  #sbs-1362 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #sbs-1362 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1362 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 39.375rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1362 .cs-topper {
    color: var(--secondary);
  }
  #sbs-1362 .cs-title {
    /* 23 characters wide including spaces */
    max-width: 26ch;
  }
  #sbs-1362 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-1362 .cs-text:last-of-type {
    margin-bottom: 1.5rem;
  }
  #sbs-1362 .cs-card-group {
    width: 100%;
    max-width: 39.375rem;
    margin: 0 0 1.5rem 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.265rem, 1fr));
    align-items: center;
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #sbs-1362 .cs-item {
    list-style: none;
    height: 100%;
    /* 16px - 24px */
    padding: clamp(1rem, 3vw, 1.5rem);
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 1rem;
    border: 1px solid #e8e8e8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #sbs-1362 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
  #sbs-1362 .cs-h3-icon {
    width: 2rem;
    height: auto;
    display: block;
  }
  #sbs-1362 .cs-item-text {
    font-size: 0.875rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #sbs-1362 .cs-ul {
    width: 100%;
    margin: 0 0 1.5rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #sbs-1362 .cs-li {
    font-size: var(--bodyFontSize);
    list-style: none;
    line-height: 1.5em;
    width: 100%;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    /* push icon top the top so if the list item goes to two lines the icon stays at the top */
    align-items: flex-start;
    gap: 0.5rem;
  }
  #sbs-1362 .cs-icon {
    width: 1.5rem;
    height: auto;
    /* adds extra space between the icon and top of parent so it's more centered */
    margin-top: 1px;
    display: block;
  }
  #sbs-1362 .cs-button-solid {
    font-size: 1rem;
    line-height: 3.5rem;
    text-decoration: none;
    font-weight: 700;
    overflow: hidden;
    margin: 0;
    color: var(--grayDark);
    padding: 0 3rem;
    border-radius: 1.875rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #sbs-1362 .cs-button-solid:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: var(--grayDark);
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbs-1362 .cs-button-solid:hover {
    color: var(--bodyTextColorWhite);
  }
  #sbs-1362 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-1362 .cs-image-group {
    width: 100%;
    max-width: 36.625rem;
    /* Changes to auto at desktop */
    height: 32.5rem;
    /* 32px - 48px */
    border-radius: clamp(2rem, 4vw, 3rem);
    /* clips the corners of the children around the border radius */
    overflow: hidden;
    position: relative;
  }
  #sbs-1362 .cs-background {
    width: 100%;
    height: 100%;
    /* makes it cover the parent dimensions */
    object-fit: cover;
    display: block;
  }
  #sbs-1362 .cs-background img {
    width: 100%;
    height: 100%;
    /* makes it cover the parent like a backgorund image */
    object-fit: cover;
    display: block;
  }
  #sbs-1362 .cs-desc {
    font-size: 1.25rem;
    line-height: 1.2em;
    text-align: inherit;
    font-weight: 700;
    width: 100%;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #sbs-1362 .cs-bubbles {
    font-size: min(2.5vw, 0.7em);
    width: 26.1875em;
    height: 26.6875em;
    position: absolute;
    /* changes to 160px at larger desktop */
    right: -16.25em;
    /* chnages to 30px at Large desktop */
    bottom: -3.125em;
    z-index: -1;
  }
  #sbs-1362 .cs-bubbles:before {
    /* white border bubble */
    content: "";
    width: 20.625em;
    height: 20.625em;
    background: transparent;
    border: 1px solid #1a1a1a;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    animation-name: floatAnimation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #sbs-1362 .cs-bubbles:after {
    /* orange bubble */
    content: "";
    width: 16.25em;
    height: 16.25em;
    background: var(--primary);
    opacity: 0.15;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    animation-name: floatAnimation2;
    animation-duration: 14s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1362 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #sbs-1362 .cs-image-group {
    height: auto;
  }
  #sbs-1362 .cs-bubbles {
    font-size: min(2.5vw, 1em);
  }
}
/* Large Desktop 1600px */
@media only screen and (min-width: 100rem) {
  #sbs-1362 .cs-bubbles {
    margin-left: 40.625rem;
    right: auto;
    left: 50%;
    bottom: 1.875rem;
  }
}
/*-- -------------------------- -->
<---          Portfolio         -->
<--- -------------------------- -*/
@media only screen and (min-width: 0rem) {
  #portfolio-420 {
    padding: var(--sectionPadding);
  }
  #portfolio-420 .cs-container {
    max-width: 34.375rem;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #portfolio-420 .cs-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    /* set text align to left if content needs to be left aligned */
    text-align: left;
  }
  #portfolio-420 .cs-card-group {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2.3vw, 1.25rem);
  }
  #portfolio-420 .cs-button-solid {
    font-size: 1rem;
    text-decoration: none;
    font-weight: 700;
    overflow: hidden;
    margin: 0;
    color: var(--grayDark);
    border-radius: 1.875rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #portfolio-420 .cs-button-solid:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: var(--grayDark);
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #portfolio-420 .cs-button-solid:hover {
    color: var(--bodyTextColorWhite);
  }
  #portfolio-420 .cs-button-solid:hover:before {
    width: 100%;
  }
  #portfolio-420 .cs-item {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 1.5rem;
    padding-bottom: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    border: 1px solid #e8e8e8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s;
    text-align: left;
    grid-column: span 12;
    grid-row: span 1;
    box-shadow: 0px 0px 25px 15px rgba(0, 0, 0, 0.1);
  }
  #portfolio-420 .cs-item:hover {
    transform: translateY(-0.5rem);
  }
  #portfolio-420 .cs-item:hover .cs-h3,
  #portfolio-420 .cs-item:hover .cs-link {
    color: var(--primary);
  }
  #portfolio-420 .cs-item:hover .cs-arrow {
    filter: initial;
  }
  #portfolio-420 .cs-picture {
    height: auto;
    margin: 0.5rem 0 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #portfolio-420 .cs-icon {
    width: 4.5rem;
    height: auto;
  }
  #portfolio-420 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: bold;
    margin: 0 0 1rem;
    color: var(--headerColor);
    transition: color 0.3s;
    text-align: inherit;
  }
  #portfolio-420 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    max-width: 28.125rem;
    margin: 0;
    margin-bottom: 1.25rem;
    padding: 0;
    text-align: left;
    color: var(--bodyTextColor);
  }
  #portfolio-420 .cs-link {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 700;
    margin-top: auto;
    color: var(--headerColor);
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: color 0.3s;
    text-align: inherit;
  }
  #portfolio-420 .cs-link:hover .cs-arrow {
    transform: translateX(0.25rem);
  }
  #portfolio-420 .cs-arrow {
    width: 1.25rem;
    height: auto;
    display: block;
    filter: grayscale(1) brightness(0);
    transition: filter 0.3s, transform 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #portfolio-420 .cs-container {
    max-width: 80rem;
  }
  #portfolio-420 .cs-item {
    grid-column: span 4;
  }
}
/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes floatAnimation2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  #meet-team-1367 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  #meet-team-1367 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #meet-team-1367 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #meet-team-1367 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #meet-team-1367 .cs-item {
    list-style: none;
    width: 100%;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    grid-column: span 12;
  }
  #meet-team-1367 .cs-item:hover .cs-link {
    opacity: 1;
    transform: translateY(0);
  }
  #meet-team-1367 .cs-item:hover .cs-info {
    color: #fff;
    background-color: var(--secondary);
  }
  #meet-team-1367 .cs-picture-wrapper {
    /* 12px - 20px */
    margin-bottom: clamp(0.75rem, 4vw, 1.25rem);
    position: relative;
  }
  #meet-team-1367 .cs-picture {
    margin: 0 auto;
    border-radius: 50%;
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    aspect-ratio: 1/1;
  }
  #meet-team-1367 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #meet-team-1367 .cs-info {
    text-align: center;
    /* 16px - 24px */
    padding: 1rem;
    background-color: #f7f7f7;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* makes the info boxes grow when the items aren't matching heights */
    flex-grow: 1;
    transition: background-color 0.3s;
  }
  #meet-team-1367 .cs-name {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    margin: 0 0 0.25rem;
    gap: 1rem;
    transition: color 0.3s;
  }
  #meet-team-1367 .cs-job {
    transition: color 0.3s;
  }
  #meet-team-1367 .cs-bubbles {
    width: 22.3125rem;
    height: 29.375rem;
    display: none;
    position: absolute;
    top: 3.1875rem;
    left: -13.4375rem;
    z-index: -1;
  }
  #meet-team-1367 .cs-bubbles:before {
    /* white border bubble */
    content: "";
    width: 18.375rem;
    height: 18.375rem;
    background: transparent;
    opacity: 1;
    border: 1px solid #1a1a1a;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    animation-name: floatAnimation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
  #meet-team-1367 .cs-bubbles:after {
    /* orange bubble */
    content: "";
    width: 18.375rem;
    height: 18.375rem;
    background: var(--secondary);
    opacity: 0.15;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    animation-name: floatAnimation2;
    animation-duration: 14s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #meet-team-1367 .cs-item {
    grid-column: span 6;
  }
  #meet-team-1367 .cs-bubbles {
    display: block;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #meet-team-1367 .cs-bubbles {
    margin-left: -66.375rem;
    left: 50%;
  }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes floatAnimation2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  #sbsr-1363 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #sbsr-1363 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbsr-1363 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 39.375rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbsr-1363 .cs-topper {
    color: var(--secondary);
  }
  #sbsr-1363 .cs-title {
    /* 23 characters wide including spaces */
    max-width: 26ch;
  }
  #sbsr-1363 .cs-text {
    margin-bottom: 1rem;
  }
  #sbsr-1363 .cs-text:last-of-type {
    margin-bottom: 1.5rem;
  }
  #sbsr-1363 .cs-image-group {
    width: 100%;
    max-width: 36.625rem;
    /* Changes to auto at desktop */
    height: 100%;
    /* clips the corners of the children around the border radius */
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    order: 2;
  }
  #sbsr-1363 .cs-picture {
    position: relative;
    display: flex;
    border-radius: 50%;
    /* clips img tag corners */
    overflow: hidden;
    height: 8rem;
    width: 8rem;
  }
  #sbsr-1363 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act like a background image */
    object-fit: cover;
  }
  #sbsr-1363 .cs-name {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    margin: 0 0 0.25rem;
    gap: 1rem;
    transition: color 0.3s;
  }
  #sbsr-1363 .cs-picture-wrapper {
    /* 12px - 20px */
    margin-bottom: clamp(0.75rem, 4vw, 1.25rem);
    position: relative;
  }
  #sbsr-1363 .cs-picture-info {
    text-align: center;
    /* 16px - 24px */
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border: 1px solid var(--grayLight);
    /* makes the info boxes grow when the items aren't matching heights */
    flex-grow: 1;
  }
  #sbsr-1363 .cs-picture-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  #sbsr-1363 .cs-bubbles {
    font-size: min(2.5vw, 0.7em);
    width: 26.1875em;
    height: 26.6875em;
    position: absolute;
    /* Reset at larger desktop */
    right: -16.25em;
    /* chnages to 30px at desktop */
    bottom: -3.125em;
    z-index: -1;
  }
  #sbsr-1363 .cs-bubbles:before {
    /* white border bubble */
    content: "";
    width: 20.625em;
    height: 20.625em;
    background: transparent;
    border: 1px solid #1a1a1a;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    animation-name: floatAnimation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #sbsr-1363 .cs-bubbles:after {
    /* orange bubble */
    content: "";
    width: 16.25em;
    height: 16.25em;
    background: var(--primary);
    opacity: 0.15;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    animation-name: floatAnimation2;
    animation-duration: 14s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #sbsr-1363 .cs-stripes {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    z-index: -1;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-1363 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #sbsr-1363 .cs-image-group {
    height: auto;
    /* sends it to the right in the 2nd position */
    align-items: center;
    order: 2;
  }
  #sbsr-1363 .cs-picture {
    height: 12rem;
    width: 12rem;
  }
  #sbsr-1363 .cs-bubbles {
    font-size: min(2.5vw, 1em);
    bottom: 0rem;
    right: -6.25rem;
  }
}
/* Large Desktop 1600px */
@media only screen and (min-width: 100rem) {
  #sbsr-1363 .cs-bubbles {
    margin-right: 46.875rem;
    left: auto;
    right: 50%;
  }
}
/*-- -------------------------- -->
<---   Pricing                  -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #pricing {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #pricing .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #pricing .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 39.375rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #pricing .cs-picture {
    width: 4.75rem;
    height: 4.75rem;
    margin-bottom: 1.5rem;
    border-radius: 50%;
    color: var(--primary);
    font-size: 24px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #pricing .cs-picture:before {
    /* background color */
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.2;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }
  #pricing .pricing-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #pricing .pricing-card {
    text-align: left;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 1.5rem 1.5rem;
    background-color: var(--grayDark);
    border-radius: 1rem;
    border: 2px solid var(--primary);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    z-index: 1;
  }
  #pricing .pricing-card .pricing-card-title,
  #pricing .pricing-card .pricing-card-price,
  #pricing .pricing-card .pricing-card-price-duration,
  #pricing .pricing-card .pricing-card-price-description,
  #pricing .pricing-card .pricing-card-feature {
    color: var(--bodyTextColorWhite);
  }
  #pricing .pricing-card-title {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--headerColor);
  }
  #pricing .pricing-card-price {
    font-size: 2.4375rem;
    line-height: 1.2em;
    text-align: inherit;
    font-weight: 900;
    margin: 0 0 0.75rem;
    color: var(--headerColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
  #pricing .pricing-card-price-duration {
    font-size: 0.875rem;
    line-height: 1.5em;
    font-weight: 400;
    margin: 0;
    color: var(--headerColor);
  }
  #pricing .pricing-card-price-description {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-align: inherit;
    margin: 0 0 2rem;
    color: var(--bodyTextColor);
  }
  #pricing .pricing-card-feature-list {
    margin: 0 0 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  #pricing .pricing-card-feature {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    list-style: none;
    line-height: 1.5em;
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    /* push everything to the top so if the li goes to two lines the icon stays at the top */
    align-items: center;
    gap: 0.5rem;
  }
  #pricing .cs-icon {
    font-size: 18px;
    height: auto;
    display: block;
    color: var(--primary);
  }
  #pricing .cs-button {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: var(--primary);
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s;
  }
  #pricing .cs-button:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: var(--primary);
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #pricing .cs-button:hover {
    color: var(--grayDark);
    background-color: #000;
  }
  #pricing .cs-button:hover:before {
    width: 100%;
  }
  #pricing .cs-topper {
    color: var(--secondary);
  }
  #pricing .cs-title {
    /* 23 characters wide including spaces */
    max-width: 26ch;
  }
  #pricing .cs-text {
    margin-bottom: 1rem;
  }
  #pricing .cs-text:last-of-type {
    margin-bottom: 1.5rem;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #pricing .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}
/* Large Desktop 1600px */

/*# sourceMappingURL=local.css.map */
