/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #faq-1263 {
    padding: var(--sectionPadding);
    position: relative;
    overflow: hidden;
    z-index: 1;

    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* 40px - 48px */
      gap: clamp(2.5rem, 5vw, 3rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-title {
      margin: 0;
      color: var(--grayDark);
    }

    .cs-faq-group {
      width: 100%;
      max-width: calc(846 / 16 * 1rem);
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      /* 16px - 20px */
      gap: clamp(1rem, 2.4vw, 1.25rem);
    }

    .cs-faq-item {
      list-style: none;
      width: 100%;
      background-color: #fff;
      border: 1px solid var(--gray);
      border-radius: calc(8 / 16 * 1rem);
      padding: 0;
      box-sizing: border-box;
      transition: border-bottom 0.3s;

      &.active {
        .cs-button {
          &:before {
            background-color: var(--secondary);
            transform: rotate(315deg);
          }
          &:after {
            background-color: var(--secondary);
            transform: rotate(-315deg);
          }
        }

        .cs-item-p {
          height: auto;
          margin-top: calc(12 / 16 * 1rem);
          /* 16px - 24px */
          padding-top: calc(12 / 16 * 1rem);
          padding-bottom: calc(24 / 16 * 1rem);
          color: var(--bodyTextColor);
          opacity: 0.8;

          &:before {
            /* border top */
            content: "";
            height: 1px;
            background: #7d799c;
            opacity: 1;
            position: absolute;
            display: block;
            top: 0;
            left: calc(24 / 16 * 1rem);
            right: calc(24 / 16 * 1rem);
          }
        }
      }
    }

    .cs-button {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      line-height: 1.2em;
      text-align: left;
      font-weight: bold;
      width: 100%;
      padding: calc(24 / 16 * 1rem) calc(24 / 16 * 1rem) 0;
      border: none;
      background: transparent;
      color: var(--headerColor);
      overflow: hidden;
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      /* 16px - 24px */
      gap: clamp(1rem, 2.5vw, 1.5rem);
      position: relative;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        cursor: pointer;
      }

      &:before {
        /* left line */
        content: "";
        width: calc(8 / 16 * 1rem);
        height: calc(2 / 16 * 1rem);
        background-color: var(--grayDark);
        opacity: 1;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 67%;
        right: calc(19 / 16 * 1rem);
        transform: rotate(45deg);
        /* animate the transform from the left side of the x axis, and the center of the y */
        transform-origin: left center;
        transition: transform 0.5s;
      }

      &:after {
        /* right line */
        content: "";
        width: calc(8 / 16 * 1rem);
        height: calc(2 / 16 * 1rem);
        background-color: var(--grayDark);
        opacity: 1;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 67%;
        right: calc(16 / 16 * 1rem);
        transform: rotate(-45deg);
        /* animate the transform from the right side of the x axis, and the center of the y */
        transform-origin: right center;
        transition: transform 0.5s;
      }
    }

    .cs-button-text {
      width: 90%;
      padding: 0;
      display: block;
    }

    .cs-item-p {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      width: 100%;
      height: 0;
      margin: 0;
      /* 16px - 24px */
      padding: 0 calc(24 / 16 * 1rem) calc(24 / 16 * 1rem);
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      opacity: 0;
      color: var(--bodyTextColor);
      /* clips the text so it doesn't show up */
      overflow: hidden;
      position: relative;
      transition: opacity 0.3s, padding-bottom 0.3s, padding-top 0.3s;
    }

    .cs-background {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}
