/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes floatAnimation2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  #sbs-1362 {
    padding: var(--sectionPadding);
    position: relative;
    // overflow: hidden;
    z-index: 1;

    .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: calc(584 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: calc(630 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-topper {
      color: var(--secondary);
    }

    .cs-title {
      /* 23 characters wide including spaces */
      max-width: 26ch;
    }

    .cs-text {
      margin-bottom: calc(16 / 16 * 1rem);
      &:last-of-type {
        margin-bottom: calc(24 / 16 * 1rem);
      }
    }

    .cs-card-group {
      width: 100%;
      max-width: calc(630 / 16 * 1rem);
      margin: 0 0 calc(24 / 16 * 1rem) 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15.265rem, 1fr));
      align-items: center;
      gap: clamp(1rem, 2vw, 1.25rem);
    }

    .cs-item {
      list-style: none;
      height: 100%;
      /* 16px - 24px */
      padding: clamp(1rem, 3vw, 1.5rem);
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
      background-color: #fff;
      border-radius: calc(16 / 16 * 1rem);
      border: 1px solid var(--gray);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: calc(12 / 16 * 1rem);
    }

    .cs-h3 {
      font-size: calc(20 / 16 * 1rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0;
      color: var(--headerColor);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: calc(8 / 16 * 1rem);
    }

    .cs-h3-icon {
      width: calc(32 / 16 * 1rem);
      height: auto;
      display: block;
    }

    .cs-item-text {
      font-size: calc(14 / 16 * 1rem);
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
    }

    .cs-ul {
      width: 100%;
      margin: 0 0 calc(24 / 16 * 1rem) 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: calc(12 / 16 * 1rem);
    }

    .cs-li {
      font-size: var(--bodyFontSize);
      list-style: none;
      line-height: 1.5em;
      width: 100%;
      color: var(--bodyTextColor);
      display: flex;
      justify-content: flex-start;
      /* push icon top the top so if the list item goes to two lines the icon stays at the top */
      align-items: flex-start;
      gap: calc(8 / 16 * 1rem);
    }

    .cs-icon {
      width: calc(24 / 16 * 1rem);
      height: auto;
      /* adds extra space between the icon and top of parent so it's more centered */
      margin-top: 1px;
      display: block;
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      line-height: calc(56 / 16 * 1rem);
      text-decoration: none;
      font-weight: 700;
      overflow: hidden;
      margin: 0;
      color: var(--grayDark);
      padding: 0 calc(48 / 16 * 1rem);
      border-radius: calc(30 / 16 * 1rem);
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
      transition: color 0.3s;

      &:before {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 0%;
        background: var(--grayDark);
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        color: var(--bodyTextColorWhite);
        &:before {
          width: 100%;
        }
      }
    }

    .cs-image-group {
      width: 100%;
      max-width: calc(586 / 16 * 1rem);
      /* Changes to auto at desktop */
      height: calc(520 / 16 * 1rem);
      /* 32px - 48px */
      border-radius: clamp(2rem, 4vw, 3rem);
      /* clips the corners of the children around the border radius */
      overflow: hidden;
      position: relative;
    }

    .cs-background {
      width: 100%;
      height: 100%;
      /* makes it cover the parent dimensions */
      object-fit: cover;
      display: block;

      img {
        width: 100%;
        height: 100%;
        /* makes it cover the parent like a backgorund image */
        object-fit: cover;
        display: block;
      }
    }

    .cs-desc {
      font-size: calc(20 / 16 * 1rem);
      line-height: 1.2em;
      text-align: inherit;
      font-weight: 700;
      width: 100%;
      margin: 0;
      color: var(--bodyTextColorWhite);
    }

    .cs-bubbles {
      font-size: min(2.5vw, 0.7em);
      width: calc(419 / 16 * 1em);
      height: calc(427 / 16 * 1em);
      position: absolute;
      /* changes to 160px at larger desktop */
      right: calc(-260 / 16 * 1em);
      /* chnages to 30px at Large desktop */
      bottom: calc(-50 / 16 * 1em);
      z-index: -1;

      &:before {
        /* white border bubble */
        content: "";
        width: calc(330 / 16 * 1em);
        height: calc(330 / 16 * 1em);
        background: transparent;
        border: 1px solid #1a1a1a;
        border-radius: 50%;
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        animation-name: floatAnimation;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
      }

      &:after {
        /* orange bubble */
        content: "";
        width: calc(260 / 16 * 1em);
        height: calc(260 / 16 * 1em);
        background: var(--primary);
        opacity: 0.15;
        border-radius: 50%;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        animation-name: floatAnimation2;
        animation-duration: 14s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
      }
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1362 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }

    .cs-image-group {
      height: auto;
    }

    .cs-bubbles {
      font-size: min(2.5vw, 1em);
    }
  }
}

/* Large Desktop 1600px */
@media only screen and (min-width: 100rem) {
  #sbs-1362 {
    .cs-bubbles {
      margin-left: calc(650 / 16 * 1rem);
      right: auto;
      left: 50%;
      bottom: calc(30 / 16 * 1rem);
    }
  }
}

/*-- -------------------------- -->
<---          Portfolio         -->
<--- -------------------------- -*/

@media only screen and (min-width: 0rem) {
  #portfolio-420 {
    padding: var(--sectionPadding);

    .cs-container {
      max-width: calc(550 / 16 * 1rem);
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
      /* set text align to left if content needs to be left aligned */
      text-align: left;
    }

    .cs-card-group {
      width: 100%;
      margin: 0 auto;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      /* 16px - 20px */
      gap: clamp(1rem, 2.3vw, 1.25rem);
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      text-decoration: none;
      font-weight: 700;
      overflow: hidden;
      margin: 0;
      color: var(--grayDark);
      border-radius: calc(30 / 16 * 1rem);
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
      transition: color 0.3s;

      &:before {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 0%;
        background: var(--grayDark);
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        color: var(--bodyTextColorWhite);
        &:before {
          width: 100%;
        }
      }
    }

    .cs-item {
      list-style: none;
      width: 100%;
      margin: 0 auto;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      padding: calc(24 / 16 * 1rem);
      padding-bottom: calc(32 / 16 * 1rem);
      background-color: #fff;
      border-radius: calc(16 / 16 * 1rem);
      border: 1px solid var(--gray);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      z-index: 1;
      transition: all 0.3s;
      text-align: left;
      grid-column: span 12;
      grid-row: span 1;
      box-shadow: 0px 0px 25px 15px rgba(0, 0, 0, 0.1);

      &:hover {
        transform: translateY(-0.5rem);
        .cs-h3,
        .cs-link {
          color: var(--primary);
        }

        .cs-arrow {
          filter: initial;
        }
      }
    }

    .cs-picture {
      //   width: calc(100 / 16 * 1rem);
      height: auto;
      margin: calc(8 / 16 * 1rem) 0 calc(24 / 16 * 1rem);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      /* prevents flexbox from squishing it */
      flex: none;
    }

    .cs-icon {
      width: calc(72 / 16 * 1rem);
      height: auto;
    }

    .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
      line-height: 1.2em;
      font-weight: bold;
      margin: 0 0 calc(16 / 16 * 1rem);
      color: var(--headerColor);
      transition: color 0.3s;
      text-align: inherit;
    }

    .cs-item-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      max-width: calc(450 / 16 * 1rem);
      margin: 0;
      margin-bottom: calc(20 / 16 * 1rem);
      padding: 0;
      text-align: left;
      color: var(--bodyTextColor);
    }

    .cs-link {
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.2em;
      font-weight: 700;
      margin-top: auto;
      color: var(--headerColor);
      text-decoration: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      transition: color 0.3s;
      text-align: inherit;

      &:hover {
        .cs-arrow {
          transform: translateX(0.25rem);
        }
      }
    }

    .cs-arrow {
      width: calc(20 / 16 * 1rem);
      height: auto;
      display: block;
      filter: grayscale(1) brightness(0);
      transition: filter 0.3s, transform 0.3s;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #portfolio-420 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
    }

    .cs-item {
      grid-column: span 4;
    }
  }
}

/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes floatAnimation2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  #meet-team-1367 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
    overflow: hidden;

    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: repeat(12, 1fr);
      /* 16px - 20px */
      gap: clamp(1rem, 2vw, 1.25rem);
    }

    .cs-item {
      list-style: none;
      width: 100%;
      max-width: calc(320 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      grid-column: span 12;

      &:hover {
        .cs-link {
          opacity: 1;
          transform: translateY(0);
        }

        .cs-info {
          color: #fff;
          background-color: var(--secondary);
        }
      }
    }

    .cs-picture-wrapper {
      /* 12px - 20px */
      margin-bottom: clamp(0.75rem, 4vw, 1.25rem);
      position: relative;
    }

    .cs-picture {
      margin: 0 auto;
      border-radius: 50%;
      display: block;
      position: relative;
      z-index: 1;
      overflow: hidden;
      aspect-ratio: 1/1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .cs-info {
      text-align: center;
      /* 16px - 24px */
      padding: 1rem;
      background-color: #f7f7f7;
      border-radius: calc(24 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* makes the info boxes grow when the items aren't matching heights */
      flex-grow: 1;
      transition: background-color 0.3s;
    }

    .cs-name {
      font-size: calc(20 / 16 * 1rem);
      font-weight: bold;
      margin: 0;
      margin: 0 0 calc(4 / 16 * 1rem);
      gap: calc(16 / 16 * 1rem);
      transition: color 0.3s;
    }

    .cs-job {
      transition: color 0.3s;
    }

    .cs-bubbles {
      width: calc(357 / 16 * 1rem);
      height: calc(470 / 16 * 1rem);
      display: none;
      position: absolute;
      top: calc(51 / 16 * 1rem);
      left: calc(-215 / 16 * 1rem);
      z-index: -1;

      &:before {
        /* white border bubble */
        content: "";
        width: calc(294 / 16 * 1rem);
        height: calc(294 / 16 * 1rem);
        background: transparent;
        opacity: 1;
        border: 1px solid #1a1a1a;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        animation-name: floatAnimation;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }

      &:after {
        /* orange bubble */
        content: "";
        width: calc(294 / 16 * 1rem);
        height: calc(294 / 16 * 1rem);
        background: var(--secondary);
        opacity: 0.15;
        border-radius: 50%;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        animation-name: floatAnimation2;
        animation-duration: 14s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #meet-team-1367 {
    .cs-item {
      grid-column: span 6;
    }

    .cs-bubbles {
      display: block;
    }
  }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #meet-team-1367 {
    .cs-bubbles {
      margin-left: calc(-1062 / 16 * 1rem);
      left: 50%;
    }
  }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes floatAnimation2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  #sbsr-1363 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;

      /* changes to 1280px at desktop */
      max-width: calc(584 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      max-width: calc(630 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-topper {
      color: var(--secondary);
    }

    .cs-title {
      /* 23 characters wide including spaces */
      max-width: 26ch;
    }

    .cs-text {
      margin-bottom: calc(16 / 16 * 1rem);
      &:last-of-type {
        margin-bottom: calc(24 / 16 * 1rem);
      }
    }

    .cs-image-group {
      width: 100%;
      max-width: calc(586 / 16 * 1rem);
      /* Changes to auto at desktop */
      height: 100%;
      /* clips the corners of the children around the border radius */
      overflow: hidden;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      order: 2;
    }

    .cs-picture {
      position: relative;
      display: flex;
      border-radius: 50%;
      /* clips img tag corners */
      overflow: hidden;
      height: 8rem;
      width: 8rem;
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* makes image act like a background image */
        object-fit: cover;
      }
    }

    .cs-name {
      font-size: calc(20 / 16 * 1rem);
      font-weight: bold;
      margin: 0;
      margin: 0 0 calc(4 / 16 * 1rem);
      gap: calc(16 / 16 * 1rem);
      transition: color 0.3s;
    }

    .cs-picture-wrapper {
      /* 12px - 20px */
      margin-bottom: clamp(0.75rem, 4vw, 1.25rem);
      position: relative;
    }

    .cs-picture-info {
      text-align: center;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* makes the info boxes grow when the items aren't matching heights */
      flex-grow: 1;
    }

    .cs-picture-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
    }

    .cs-bubbles {
      font-size: min(2.5vw, 0.7em);
      width: calc(419 / 16 * 1em);
      height: calc(427 / 16 * 1em);
      position: absolute;
      /* Reset at larger desktop */
      right: calc(-260 / 16 * 1em);
      /* chnages to 30px at desktop */
      bottom: calc(-50 / 16 * 1em);
      z-index: -1;

      &:before {
        /* white border bubble */
        content: "";
        width: calc(330 / 16 * 1em);
        height: calc(330 / 16 * 1em);
        background: transparent;
        border: 1px solid #1a1a1a;
        border-radius: 50%;
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        animation-name: floatAnimation;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
      }

      &:after {
        /* orange bubble */
        content: "";
        width: calc(260 / 16 * 1em);
        height: calc(260 / 16 * 1em);
        background: var(--primary);
        opacity: 0.15;
        border-radius: 50%;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        animation-name: floatAnimation2;
        animation-duration: 14s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
      }
    }

    .cs-stripes {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      position: absolute;
      z-index: -1;
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-1363 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
      flex-direction: column;
      // justify-content: space-between;
      align-items: center;
    }

    .cs-image-group {
      height: auto;
      /* sends it to the right in the 2nd position */
      align-items: center;
      order: 2;
    }

    .cs-picture {
      height: 12rem;
      width: 12rem;
    }

    .cs-bubbles {
      font-size: min(2.5vw, 1em);
      bottom: calc(0 / 16 * 1rem);
      right: calc(-100 / 16 * 1rem);
    }
  }
}

/* Large Desktop 1600px */
@media only screen and (min-width: 100rem) {
  #sbsr-1363 {
    .cs-bubbles {
      margin-right: calc(750 / 16 * 1rem);
      left: auto;
      right: 50%;
    }
  }
}

/*-- -------------------------- -->
<---   Pricing                  -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #pricing {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: calc(584 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: calc(630 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-picture {
      width: calc(76 / 16 * 1rem);
      height: calc(76 / 16 * 1rem);
      margin-bottom: calc(24 / 16 * 1rem);
      border-radius: 50%;
      color: var(--primary);
      font-size: 24px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &:before {
        /* background color */
        content: "";
        width: 100%;
        height: 100%;
        background: var(--primary);
        opacity: 0.2;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
      }
    }

    .pricing-card-container {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .pricing-card {
      text-align: left;
      list-style: none;
      width: 100%;
      margin: 0;
      padding: calc(24 / 16 * 1rem) calc(24 / 16 * 1rem);
      background: rgb(61, 61, 61);
      background: linear-gradient(
        145deg,
        rgba(61, 61, 61, 1) 0%,
        rgba(26, 26, 26, 1) 52%
      );
      border-radius: 1rem;
      border: 2px solid var(--primary);
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      position: relative;
      z-index: 1;

      .pricing-card-title,
      .pricing-card-price,
      .pricing-card-price-duration,
      .pricing-card-price-description,
      .pricing-card-feature {
        color: var(--bodyTextColorWhite);
      }
    }

    .pricing-card-title {
      display: block;
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--headerColor);
    }

    .pricing-card-price {
      font-size: calc(39 / 16 * 1rem);
      line-height: 1.2em;
      text-align: inherit;
      font-weight: 900;
      margin: 0 0 calc(12 / 16 * 1rem);
      color: var(--headerColor);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: calc(8 / 16 * 1rem);
    }

    .pricing-card-price-duration {
      font-size: calc(14 / 16 * 1rem);
      line-height: 1.5em;
      font-weight: 400;
      margin: 0;
      color: var(--headerColor);
    }

    .pricing-card-price-description {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      text-align: inherit;
      margin: 0 0 calc(32 / 16 * 1rem);
      color: var(--bodyTextColor);
    }

    .pricing-card-feature-list {
      margin: 0 0 calc(32 / 16 * 1rem);
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: calc(8 / 16 * 1rem);
    }

    .pricing-card-feature {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      list-style: none;
      line-height: 1.5em;
      width: 100%;
      margin: 0;
      padding: 0;
      color: var(--bodyTextColor);
      display: flex;
      justify-content: flex-start;
      /* push everything to the top so if the li goes to two lines the icon stays at the top */
      align-items: center;
      gap: calc(8 / 16 * 1rem);
    }

    .cs-icon {
      font-size: 18px;
      height: auto;
      display: block;
      color: var(--primary);
    }

    .cs-button {
      font-size: calc(16 / 16 * 1rem);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: var(--primary);
      min-width: calc(150 / 16 * 1rem);
      padding: 0 calc(24 / 16 * 1rem);
      background-color: transparent;
      border: 1px solid var(--primary);
      border-radius: calc(4 / 16 * 1rem);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      transition: color 0.3s, border-color 0.3s, background-color 0.3s;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: var(--primary);
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: calc(4 / 16 * 1rem);
        transition: width 0.3s;
      }

      &:hover {
        color: var(--grayDark);
        background-color: #000;
        &:before {
          width: 100%;
        }
      }
    }

    .cs-topper {
      color: var(--secondary);
    }

    .cs-title {
      /* 23 characters wide including spaces */
      max-width: 26ch;
    }

    .cs-text {
      margin-bottom: calc(16 / 16 * 1rem);
      &:last-of-type {
        margin-bottom: calc(24 / 16 * 1rem);
      }
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #pricing {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }
  }
}

/* Large Desktop 1600px */
// @media only screen and (min-width: 100rem) {
